.fabric-installer/*

# Vanilla
server.jar
world/*
banned-ips.json
banned-players.json
eula.txt
ops.json
usercache.json
whitelist.json

# Fabric
.fabric/*
.fabric-installer/*
.mixin.out/*
logs/*
fabric-server-launch.jar


# Mods
mods/fabric-api-0.37.0+1.17.jar